<% content_for :css do %>
  <%= stylesheet_link_tag 'auth'%>
<% end %>
<div class="container fixed-container">
	<div class="row auth-container mb-5 align-items-center">
		<div class="col-md-6 h-100 d-flex justify-content-center">
      <%= image_tag "undraw_secure_login_pdn4.svg", class: "w-100" %>
		</div>
		<div class="col-md-6 h-100 p-5">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
      <% end %>
			<h3>Login</h3>
      <%= form_with model: @login_form, :url => action_login_path do |form| %>
				<div class="form-item w-100">
					<div class="form-input">
						<%= form.label :email %>
            <%= form.text_field :email %>
            <% if @login_form.errors[:email].any? %>
              <span class="text-danger"><%= @login_form.where(:email).first.full_message %></span>
            <% end %>
					</div>
					<div class="form-input">
						<%= form.label :password %>
            <%= form.password_field :password %>
						<% if @login_form.errors[:password].any? %>
              <span class="text-danger"><%= @login_form.where(:password).first.full_message %></span>
            <% end %>
					</div>
					<div class="form-input d-flex button-double justify-content-end">
						<button type="submit" class="btn post w-100">Sign In</button>
					</div>
					<div class="d-flex justify-content-between mt-4">
						<h6>Not a member?<%= link_to "Sign Up", register_path , class:"primary-color" %></h6>
						<a href="${resetPasswordUrl }"><h6>Forget Password</h6></a>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>