<%= stylesheet_link_tag 'auth'%>
<div class="container fixed-container">
  <div class="row auth-container mb-5 align-items-center">
    <div class="col-md-6 h-100 d-flex justify-content-center">
      <img src="assets/undraw_security_re_a2rk.svg" width="100%">
    </div>
    <div class="col-md-6 h-100 d-flex p-5 align-items-center">
      <%= form_with model: @change_password_form, :url => change_password_action_path, class: "form w-100" do |form|%>
        <div class="form-item w-100">
          <div class="form-input">
            <%= form.label :old_password %>
            <%= form.password_field :old_password %>
            <% if @change_password_form.errors[:old_password].any? %>
              <span class="text-danger"><%= @change_password_form.errors.where(:old_password).first.message %></span>
            <% elsif @change_password_form.errors[:verify_old_password].any? %>
              <span class="text-danger"><%= @change_password_form.errors.where(:verify_old_password).first.message %></span>
            <% end %>
          </div>
          <div class="form-input">
            <%= form.label :password %>
            <%= form.password_field :password %>
            <% if @change_password_form.errors[:password].any? %>
              <span class="text-danger"><%= @change_password_form.errors.where(:password).first.message %></span>
            <% end %>
          </div>
          <div class="form-input">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation %>
            <% if @change_password_form.errors[:password_confirmation].any? %>
              <span class="text-danger"><%= @change_password_form.errors.where(:password_confirmation).first.message %></span>
            <% end %>
          </div>
          <div class="form-input d-flex button-double justify-content-end">
            <button type="submit" class="btn post">Create</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
