<div class="container mt-90">
  <%= render 'users/include/profile' %>
	<section class="p-5 mt-3 rounded-section">
    <%= form_with model: @user, url: updated_user_path(@user), method: :post do |form| %>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			<div class="d-flex justify-content-center">
				<div>
					<div class="d-flex justify-content-between align-items-center">
						<p class="section-title text-center mb-0">
							Change Personal Info
						</p>
						<button type="submit" class="btn-update">Update</button>
					</div>
          <div class="form-row d-flex w-100">
						<div class="form-item w-100">
							<div class="form-input">
                <%= form.label "Username" %>
                <%= form.text_field :name %>
                <% if @user.errors[:name].any? %>
                  <span class="text-danger"><%= @user.where(:name).first.full_message %></span>
                <% end %>
							</div>
						</div>
					</div>
					<div class="form-row d-flex w-100">
						<div class="form-item">
							<div class="form-input">
								<%= form.label "Email" %>
                <%= form.text_field :email %>
								<% if @user.errors[:email].any? %>
                  <span class="text-danger"><%= @user.where(:email).first.full_message %></span>
                <% end %>
							</div>
						</div>
            <div class="form-item">
							<div class="form-input">
                <%= form.label "Phone" %>
                <%= form.text_field :phone %>
                <% if @user.errors[:phone].any? %>
                  <span class="text-danger"><%= @user.where(:phone).first.full_message %></span>
                <% end %>
							</div>
						</div>
					</div>
					<div class="form-row d-flex w-100 mt-4">
						<div class="form-item">
							<div class="checkbox-wrap">
                <%= form.radio_button :role, "0", checked: "checked", id: "admin"%>
								<div class="checkbox-box round"></div>
								<label for="admin">Regular user</label>
							</div>
						</div>
						<div class="form-item">
							<div class="checkbox-wrap">
								<%= form.radio_button :role, "1", id: "admin"%>
								<div class="checkbox-box round"></div>
								<label for="user">Administrator</label>
							</div>
						</div>
					</div>
				</div>
			</div>
    <% end %>
	</section>
</div>