<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "BULLETIN", posts_path, class: "navbar-brand text-light"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Newsfeed", posts_path, class: "nav-link active" %>
        </li>
        <% if current_user_obj.present? && current_user_obj[:role] == Constants::ADMIN_ROLE %>
          <li class="nav-item">
            <%= link_to "Users", users_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <form class="d-flex">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle nav-user show d-flex align-items-center"
								id="nav-user"
								data-bs-toggle="dropdown"
								role="button"
								aria-haspopup="false"
								aria-expanded="true">
              <span>
                <%= current_user_obj.name %>
              </span>
              <div class="rounded-circle thumb-profile ms-2"></div>
            </a>
            <ul class="dropdown-menu profile-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <%= link_to "Profile", user_path(current_user_obj) , class:"dropdown-item me-3" %>
              </li>
              <li>
                <%= link_to "Change Password", change_password_path, class: "dropdown-item me-3" %>
              </li>
              <li>
                <%= link_to "Log Out", action_logout_path , class:"dropdown-item" %>
              </li>
            </ul>
          </div>
        </form>
      <% else %>
        <div>
          <%= link_to "Login",login_path, class: "btn nav-button"%>
        </div>
      <% end %>
    </div>
  </div>
</nav>
